/* login styling */
.login-container {
    padding: 25px;
    margin: 0 auto;
    height: 45%;
    width: 50%;
    background-color: #95a5a6;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.loginform {
    padding: 3rem;
}

.login-info-container {
    display: flex;
    justify-content: center;
}