/* sales styling */
.sales-container {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 80px;
    padding: 25px;
    background-color: var(--background);
}

/* interfaces */
.checkout-interface, .payment_interface {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.checkout-interface {
    background-color: var(--highlight-light);
    border: 2px solid var(--highlight-blue);
}

.checkout-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.payment_interface {
    background-color: var(--highlight-orange);
    border: 2px solid var(--highlight-blue);
}

.transaction-info {
    background-color: var(--highlight-dark);
    color: var(--highlight-yellow);
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
}

.transaction-info h3 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 24px;
}

.transaction-info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#grand-total-label, #grand-total {
    font-size: 20px;
    font-weight: bold;
}

.payment-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin-top: 15px;
    gap: 10px;
}

/* buttons */
button {
    margin: 5px 0;
    padding: 10px;
    background-color: var(--button-background);
    color: var(--button-text);
    border: 1px;
    border-radius: 5px;
    font-size: 16px;
}

#pay-btn {
    background-color: green;
    color: var(--button-text);
    font-size: 28px;
    width: 100%;
    padding: 10px;
}

.discount-btn {
    background-color: dimgray;
    color: var(--button-text);
}