{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
{% endblock %}

{% block content %}
    <body>
    
        <div class="admin-dashboard-container">
        
            <div class="dashboard-content">
                <div class="card">
                    <h2>Stores</h2>
                    <p><a href="{% url 'sales' %}">View Store</a></p>
                </div>

            </div>
        </div>

    </body>
{% endblock %}