<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS System</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <div class="container">
            <h1>POS System</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sales">Sales</a></li>
                    {% if user.is_admin %}
                        <a href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
                        <a href="{% url 'admin:index' %}">Django Admin</a>
                    {% endif %}
                    <li><a href="/products">Products</a></li>
                    <li><a href="/change_user">Change User</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>