{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS System</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>POS System</h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'inventory_page' %}">Inventory</a></li>
                        <li><a href="{% url 'sales' %}">Sales</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
                            <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
                        {% endif %}
                        <li><a href="switch_user">Switch User</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/sales.js' %}"></script>
</body>
</html> 