{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

<script src='{% static 'js/base.js' %}'></script>

{% block content %}
    {% if not user.is_authenticated %}
        <!-- screensaver should only show if no user logged in or session expires -->
        <div class='screensaver'>
            <div class='floating-circle circle-1'></div>
            <div class='floating-circle circle-2'></div>
            <div class='floating-circle circle-3'></div>
            <div class='floating-circle circle-4'></div>

            <div class='login-container'>
                <h1 class='login-title'>Nimbus POS</h1>
                <button id='theme-toggle' aria-label='Toggle Theme'>🌙</button>
                <p class='nimbus-quote'>Where Every Sale Is A Breeze</p>
                
                {% if messages %}
                    {% for message in messages %}
                        <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                <form class='login-form' method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <input type='text' name='username' placeholder='Username' required>
                    <input type='password' name='password' placeholder='Password' required>
                    <button type='submit'>Login</button>
                </form>
                
                <p>Don't have an account?</p>
                <form action="{% url 'register' %}" method="get">
                    <button id='register-redirect-btn' aria-label='Register'>Register</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>You are already logged in.</p> 
        <script>
            window.onload = function() {
                setTimeout(function() {
                    window.location.href = "{% url 'inventory_page' %}";
                }, 1500);
            };
        </script>
    {% endif %}
{% endblock %}