{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sales.css' %}">
{% endblock %}

{% block content %}
<head>
    <link rel='stylesheet' href='{% static 'css/sales.css' %}'>
    <link rel='stylesheet' href='{% static 'css/pin_modal.css' %}'>
</head>

<div class='sales-container'>
    <div class='checkout-interface'>
        <div class='search-bar'>
            <label for='barcode'>Search by Barcode:</label>
            <input type='text' id='barcode' placeholder='Enter barcode'>
            <button id='search-btn'>Search</button>
        </div>

    

        <div class='checkout-list'>
            <h3>Checkout</h3>
            <table id='checkout-list-table'>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id='checkout-items'>
                
                </tbody>
            </table>
        </div>
    </div>

    <div class='payment_interface'>
        <div class='transaction-info'>
            <h3>Transaction Info</h3>
            <div class='transaction-info-item'>
                <label for='subtotal'>Subtotal:</label>
                <span id='subtotal'>$0.00</span>
            </div>
            <div class='transaction-info-item'>
                <label for='tax'>Tax (7%):</label>
                <span id='tax'>$0.00</span>
            </div>
            <div class='transaction-info-item'>
                <label for='discount'>Discount Total:</label>
                <span id='discount'>$0.00</span>
            </div>
            <div class='transaction-info-item'>
                <label id='grand-total-label' for='grand-total'>Grand Total:</label>
                <span id='grand-total'>$0.00</span>
            </div>
        </div>

        <div class='payment-options'>
            <div class='payment-btn-container'>
                <button id='pay-btn' class='pay-btn'>Pay</button>
            
            
            
                <button class='discount-btn' id='discount-rewards-member'>Rewards Member Discount (10%)</button>
            
            
                <button class='discount-btn' id='discount-manager'>Manager Discount</button>
            </div>
        </div>
    </div>
</div>




<script src="{% static 'js/receipt.js' %}"></script>
<script src="{% static 'js/sales.js' %}"></script>
<script src="{% static 'js/search_handler.js' %}"></script>
<script src="{% static 'js/discount_handler.js' %}"></script>

{% endblock %}